@import "_variables.scss";

:where(.css-dev-only-do-not-override-161f05s).ant-pagination .ant-pagination-item-active {
  border-color: $main_color;

  &:hover {
    border-color: $main_color;
  }
}


:where(.css-dev-only-do-not-override-161f05s).ant-pagination .ant-pagination-item-active a {
  color: $main_color;
}

:where(.css-dev-only-do-not-override-161f05s).ant-pagination .ant-pagination-item-active:hover a {
  color: $main_color;
}